@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@{
    var content = (ContentModels.NeedToReport)Model.Content;
    var settings = (ContentModels.NeedToReport)Model.Settings;
}
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <h2>@content.Value("heading")</h2>
    <p>@content.Value("text")</p>
@{
    var link = content.Value<Link>("linkUrl");
    if (link != null)
    {
        <p><a href="@link.Url" target="@link.Target" class="btn btn-primary">@content.Value("linkText")</a></p>
    }
}    
</div><!-- /col -->


