@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.LocationSite>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@{
	Layout = "MasterTemplate.cshtml";
}
<div class="container">
    <div class="row mb4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h1>@Model.Value("heading")</h1>
            @Model.Value("blurb")
            <hr >
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->

<div class="container">
    <div class="row mb4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
@{
    var updatesPage = Model.ChildrenOfType("locationSiteUpdates").FirstOrDefault();
    if (updatesPage != null)
    {
        var variants = Umbraco.Content(Guid.Parse(updatesPage.Key.ToString())).Value<IEnumerable<BlockListItem>>("updates").Select(x => x.Content).OrderByDescending(x => x.Value<DateTime>("date")).Take(1);
        foreach (var variant in variants)
        {
            var dt = variant.Value<DateTime>("date");
            <p><strong>Latest update</strong></p>
		    <p><strong>@variant.Value("title")<br />Date Published - @dt.ToString("dd MMMM yyyy")</strong></p>
		    @variant.Value("update")
@if(!string.IsNullOrWhiteSpace(variant.Value("whatWeveDone").ToString())){  		    
		    <p><strong>What we've done</strong></p>
            @variant.Value("whatWeveDone")
}            
        }
        
    // re-check page to see if its been set to visible
    var updatesPageCheck = Model.ChildrenOfType("locationSiteUpdates").Where(x => x.IsVisible()).FirstOrDefault();
    if (updatesPageCheck != null)
    {
        <p><a href="@updatesPageCheck.Url()" class="btn btn-primary">View all previous updates</a></p>
    }
        
    }
}
<hr >
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->


<div class="container">
    <div class="row mb4">
            @Html.GetBlockListHtml(Model, "Items")
            
    </div><!-- /row -->
</div><!-- /container -->


<!--- BLOCKS - Instead of using the default I create this so we could know how many there are before we loop -->
@{
    var blocks = Model.Value<IEnumerable<BlockListItem>>("reports");
}    
    @if (blocks.Any())
    {
    	<div class="container mb4">
            <div class="row mb4">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb4">
                    <h2>Latest Reports and updates</h2>
                </div>
                @foreach (var block in blocks)
                {
                    var item = block.Content;
                    <!-- still utilising the block element for each item though -->
                    @Html.Partial("blocklist/Components/" + item.ContentType.Alias, block)
                }
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb4">
                    <hr />
                </div>
            </div>
        </div>    
    }
<!--- BLOCKS - Instead of using the default I create this so we could know how many there are before we loop -->    

@{
	var selection = Model.Children().Where(x => x.IsVisible());
}

@{
    if (selection.Any())
    {
 	    
 	    <div class="container mb4">  
            <div class="row mb4">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb4"> 
                    <h2>More Information</h2>
                </div>
            	@foreach (var item in selection)
            	{
            	    <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb4">
                        <div class="card">
                            <div class="card-body">
                                <p><a href="@item.Url()">@item.Name()</a></p>   
                            </div><!-- /card-body -->
                        </div><!-- /card -->
                    </div><!-- /col -->
            	}
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb4"> 
                    <p> </p>
                    <hr />
                </div>   
                
            </div>
        </div>
               
    }
}    




<div class="container">
    <div class="row mb4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="bx1">
                <h3>Report a pollution incident</h3>
                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In pulvinar nisi tellus. Aliquam quis massa tellus. Etiam interdum turpis purus, vel vehicula orci eleifend et. </p>
                <p><a href="#" class="btn btn-primary">Report a pollution incident</a></p>
            </div>
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->