@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MediaRelease>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@{
	Layout = "MasterTemplate.cshtml";
	var date = Model.Value<DateTime>("date");
}

<div class="container">
    <div class="row mb4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h1>@Model.Value("Title")</h1>
<p>Tag (tags):
@if(Model.HasValue("tags"))
{
        var num = 0;
        var tags = Model.Value<IEnumerable<string>>("tags");
        @foreach(var tag in tags)
        {
            if (num < 1)
            {
                <strong>@tag</strong>
            }
            num++;
        }
}

</p>            
            <p>Tag (Drop down): 
@if (Model.HasValue("tag"))
{
    <strong>@(Model.Value<string>("tag"))</strong>
}            
            </p>
@{
    if (Model.HasValue("tg"))
    {
        <p>Tag (checkbox): 
            @foreach (var item in Model.Value<IEnumerable<string>>("tg"))
            {
                <strong>@item</strong>
            }
        </p>
    }
}            
@{
    IPublishedContent typedContentPicker = Model.Value<IPublishedContent>("categoryPicker");
    if (typedContentPicker != null)
    {
        <p>Tag (content picker): <strong>@typedContentPicker.Value("category")</strong></p>
    }
}        
            
            
            <p>Date Published: @date.ToString("dd MMMM yyyy")</p>
        </div><!-- /col -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            @Model.Value("bodyText")
@{
    var typedMediaPickerSingle = Model.Image;
    if (typedMediaPickerSingle is MediaWithCrops mediaEntry)
    {
        <img src="@mediaEntry.GetCropUrl("crop")" />
    }
}            
        </div><!-- /col -->        
    </div><!-- /row -->
</div><!-- /container -->